* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-flex {
    display: flex;
}

#land {
    background-image: url("../assets/h_img.jpg");
    background-position: center;
    height: 100vh;
    width: 100%;
    font-family: 'Kirang Haerang', cursive;
    color: aliceblue;
}

.ph {
    padding-top: 15rem;
    color: aliceblue;
}

.mouse {
    margin-top: 8rem;
}

.hd {
    font-size: 4rem;
    font-weight: bold;
}

.small {
    font-size: 2rem;
}

.aboutus {
    padding-top: 5rem;
    font-family: 'Londrina Shadow', cursive;
}

#services {
    background-image: url("../assets/s_image.jpg");
    background-position: center;
    height: 70vh;
    width: 100%;
    font-family: 'Kirang Haerang', cursive;
    font-size: 20px;
}

.you {
    display: none;
}

.kenya {
    /* margin-left: -4rem; */
}

.wonger {
    position: relative;
    top: -10rem;
    left: 5rem;
    width: 60%;
    color: aliceblue;
    box-shadow: 3px 2px 3px black;
    border: 2px solid white;
    text-shadow: 3px 2px 3px black;
    font-family: 'londrina Shadow', cursive;
}

#form {
    background-image: url("../assets/c_image.jpg");
    height: 60vh;
    margin: 5rem 0rem;
}

.pt-5 {
    font-family: 'Londrina Shadow', cursive;
    font-size: 2rem;
    font-weight: bold;
}


/* .input {
    display: inline;
} */

#form input {
    width: 35%;
    background-color: transparent;
}

#name {
    margin-left: 12%;
    color: aliceblue;
}

#email {
    margin-left: 5%;
    color: aliceblue;
}

#form textarea {
    background-color: transparent;
    color: aliceblue;
}

#email::placeholder {
    color: aliceblue;
}

#name::placeholder {
    color: aliceblue;
}

textarea::placeholder {
    color: aliceblue;
}

.hi {
    margin: 2rem;
}