* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.menu-flex {
    display: flex;
}

#land {
    background-image: url("../assets/h_img.jpg");
    background-position: center;
    height: 100vh;
    width: 100%;
    font-family: 'Kirang Haerang', cursive;
    color: aliceblue;
}

.ph {
    padding-top: 15rem;
    color: aliceblue;
}

.mouse {
    margin-top: 8rem;
}

.hd {
    font-size: 4rem;
    font-weight: bold;
}

.small {
    font-size: 2rem;
}

.aboutus {
    padding-top: 5rem;
    font-family: 'Londrina Shadow', cursive;
}

#services {
    background-image: url("../assets/s_image.jpg");
    background-position: center;
    height: 70vh;
    width: 100%;
    font-family: 'Kirang Haerang', cursive;
    font-size: 20px;
}

#design {
    display: none;
}

#development {
    display: none;
}

#product-mgt {
    display: none;
}

.work1-overlay,
.work2-overlay,
.work3-overlay,
.work4-overlay,
.work5-overlay,
.work6-overlay,
.work7-overlay,
.work8-overlay {
    display: none;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 90%;
}

#form {
    background-image: url("../assets/c_image.jpg");
    height: 60vh;
    margin: 5rem 0rem;
}

.pt-5 {
    font-family: 'Londrina Shadow', cursive;
    font-size: 2rem;
    font-weight: bold;
}

.input {
    display: inline;
}

#form input {
    width: 35%;
    background-color: transparent;
}

#name {
    margin-left: 12%;
    color: aliceblue;
}

#email {
    margin-left: 5%;
    color: aliceblue;
}

#form textarea {
    background-color: transparent;
    color: aliceblue;
}

#email::placeholder {
    color: aliceblue;
}

#name::placeholder {
    color: aliceblue;
}

textarea::placeholder {
    color: aliceblue;
}

.hi {
    margin: 2rem;
}