* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#land {
    background-image: url("../assets/h_img.jpg");
    background-position: center;
    height: 100vh;
    width: 100%;
    font-family: 'Kirang Haerang', cursive;
    color: aliceblue;
}

.ph {
    padding-top: 15rem;
    color: aliceblue;
}

.mouse {
    margin-top: 8rem;
}

.hd {
    font-size: 4rem;
    font-weight: bold;
}

.small {
    font-size: 2rem;
}

.aboutus {
    padding-top: 5rem;
}

#services {
    background-image: url("../assets/s_image.jpg");
    background-position: center;
    height: 70vh;
    width: 100%;
}