* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#land {
    background-image: url("../assets/h_img.jpg");
    background-position: center;
    height: 100vh;
    width: 100%;
    font-family: 'Kirang Haerang', cursive;
    color: aliceblue;
}

.ph {
    padding-top: 15rem;
    color: aliceblue;
}

.mouse {
    margin-top: 8rem;
}

.hd {
    font-size: 4rem;
    font-weight: bold;
}

.small {
    font-size: 2rem;
}

.aboutus {
    padding-top: 5rem;
}

#services {
    background-image: url("../assets/s_image.jpg");
    background-position: center;
    height: 70vh;
    width: 100%;
    font-family: 'Kirang Haerang', cursive;
    font-size: 20px;
}

#design {
    display: none;
}

#development {
    display: none;
}

#product-mgt {
    display: none;
}

.work-image {
    position: relative;
}

.work1-overlay,
.work2-overlay,
.work3-overlay,
.work4-overlay,
.work5-overlay,
.work6-overlay,
.work7-overlay,
.work8-overlay {
    display: none;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 90%;
}